* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v601_16 {
  width: 100%;
  height: 1734px;
  background: rgba(225,190,190,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v601_74 {
  width: 683px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1334px;
  left: 207px;
  font-family: Figma Hand;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v601_77 {
  width: 804px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 607px;
  left: 147px;
  font-family: Figma Hand;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
