* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v602_2196 {
  width: 100%;
  height: 1734px;
  background: rgba(226,191,191,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v602_2245 {
  width: 764px;
  height: 78px;
  background: rgba(251,228,228,1);
  opacity: 1;
  position: absolute;
  top: 359px;
  left: 168px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v602_2246 {
  width: 764px;
  height: 78px;
  background: rgba(251,228,228,1);
  opacity: 1;
  position: absolute;
  top: 461px;
  left: 168px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v602_2252 {
  width: 764px;
  height: 78px;
  background: rgba(251,228,228,1);
  opacity: 1;
  position: absolute;
  top: 563px;
  left: 167px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v602_2197 {
  width: 846px;
  height: 108px;
  background: url("../images/v602_2197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 126px;
  overflow: hidden;
}
.v602_2198 {
  width: 846px;
  height: 108px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.v602_2199 {
  width: 846px;
  height: 108px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.v602_2200 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 42px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v602_2202 {
  width: 846px;
  height: 270px;
  background: url("../images/v602_2202.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 991px;
  left: 126px;
  overflow: hidden;
}
.v602_2203 {
  width: 846px;
  height: 270px;
  background: url("../images/v602_2203.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v602_2204 {
  width: 846px;
  height: 270px;
  background: url("../images/v602_2204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v602_2205 {
  width: 846px;
  height: 108px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.v602_2206 {
  width: 846px;
  height: 108px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.v602_2207 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 42px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v602_2209 {
  width: 846px;
  height: 108px;
  background: url("../images/v602_2209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  overflow: hidden;
}
.v602_2210 {
  width: 846px;
  height: 108px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.v602_2211 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 42px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v602_2213 {
  width: 846px;
  height: 252px;
  background: url("../images/v602_2213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 707px;
  left: 126px;
  overflow: hidden;
}
.v602_2214 {
  width: 846px;
  height: 108px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.v602_2215 {
  width: 846px;
  height: 108px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.v602_2216 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 42px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v602_2218 {
  width: 846px;
  height: 108px;
  background: url("../images/v602_2218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 144px;
  left: 0px;
  overflow: hidden;
}
.v602_2219 {
  width: 846px;
  height: 108px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.v602_2220 {
  width: 846px;
  height: 108px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.v602_2221 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 42px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v602_2244 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 196px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v602_2248 {
  width: 214px;
  color: rgba(167,159,159,1);
  position: absolute;
  top: 485px;
  left: 196px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v602_2250 {
  width: 214px;
  color: rgba(167,159,159,1);
  position: absolute;
  top: 587px;
  left: 196px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v602_2254 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 481px;
  left: 838px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v602_2255 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 587px;
  left: 838px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
